body{
    margin: 0;
}
.container {
    border: solid black 6px;
    display: flex;
    
    /*flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
        flex-flow: wrap-reverse row;
        
        justify-content:flex-end;
        align-items: flex-end;
        align-content: flex-start;

    */
    
    height: 400px;

}

.first {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    /*flex-grow: 1;
    flex-shrink: 6;
    width: 8rem; 
    flex-basis: 200px;
    flex: flex grow flex shrink flex basis 0 1 auto;
    */
    
    
}
.item1 {
    background-color:orange ;
}
.item2 {
    background-color:black ;
    /*align-self: auto ;*/
    
    
}
.item3 {
    background-color: salmon;
}
.item4 {
    background-color: yellowgreen  ;
}
.item5 {
    background-color: powderblue ;
}
.item6 {
    background-color: maroon ;
}
.item7 {
    background-color: blue ;
}
.item8 {
    background-color: grey ;
}
.item9 {
    background-color: forestgreen;
}